{% extends "base.html" %}

{% block conteudo %}
<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <h4 class="mb-3 text-primary">
                Confirmar Exclusão de Produto
            </h4>

            <p class="mb-5 ml-l">
                <small>
                    Você está prestes a excluir o produto. Deseja continuar?
                </small>
            </p>

            <div class="text-right">
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">
                        <span class="text">Excluir</span>
                    </button>
                    <a href="{% url 'index' %}" class="btn btn-secondary">
                        <span class="text">Cancelar</span>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
